In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import plotly.colors
import wbdata
import datetime
import requests
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
pd.set_option('display.max_columns',100)
df = pd.read_csv("../Data/World Energy Consumption.csv")
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_cons_change_pct,coal_cons_change_twh,coal_cons_per_capita,coal_consumption,coal_elec_per_capita,coal_electricity,coal_prod_change_pct,coal_prod_change_twh,coal_prod_per_capita,coal_production,coal_share_elec,coal_share_energy,electricity_demand,electricity_generation,electricity_share_energy,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,fossil_cons_change_pct,fossil_cons_change_twh,fossil_elec_per_capita,fossil_electricity,fossil_energy_per_capita,fossil_fuel_consumption,fossil_share_elec,fossil_share_energy,gas_cons_change_pct,gas_cons_change_twh,gas_consumption,gas_elec_per_capita,gas_electricity,gas_energy_per_capita,gas_prod_change_pct,gas_prod_change_twh,gas_prod_per_capita,...,nuclear_share_energy,oil_cons_change_pct,oil_cons_change_twh,oil_consumption,oil_elec_per_capita,oil_electricity,oil_energy_per_capita,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,oil_share_elec,oil_share_energy,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,other_renewables_cons_change_pct,other_renewables_cons_change_twh,other_renewables_elec_per_capita,other_renewables_elec_per_capita_exc_biofuel,other_renewables_energy_per_capita,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,other_renewables_share_energy,per_capita_electricity,primary_energy_consumption,renewables_cons_change_pct,renewables_cons_change_twh,renewables_consumption,renewables_elec_per_capita,renewables_electricity,renewables_energy_per_capita,renewables_share_elec,renewables_share_energy,solar_cons_change_pct,solar_cons_change_twh,solar_consumption,solar_elec_per_capita,solar_electricity,solar_energy_per_capita,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.60,1.519,NaN,500.231,NaN,NaN,NaN,NaN,NaN,71.03,NaN,NaN,NaN,NaN,19.268,NaN,368.65,368.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.75,NaN,NaN,80.225,NaN,NaN,NaN,NaN,NaN,163.22,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,61.50,NaN,NaN,NaN,NaN,NaN,16.682,NaN,NaN,22.53,16.93,NaN,NaN,NaN,NaN,NaN,6.111,4.592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.90,NaN,19.775,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.02,1.516,NaN,499.358,NaN,NaN,NaN,NaN,NaN,80.02,NaN,NaN,NaN,NaN,20.147,NaN,397.19,397.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320.51,NaN,NaN,80.694,NaN,NaN,NaN,NaN,NaN,185.35,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55.14,NaN,NaN,NaN,NaN,NaN,13.883,NaN,NaN,22.42,16.40,NaN,NaN,NaN,NaN,NaN,5.645,4.129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.68,NaN,19.306,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.06,1.433,NaN,505.652,NaN,NaN,NaN,NaN,NaN,87.16,NaN,NaN,NaN,NaN,20.614,NaN,422.82,422.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.83,NaN,NaN,82.028,NaN,NaN,NaN,NaN,NaN,203.52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.15,NaN,NaN,NaN,NaN,NaN,13.280,NaN,NaN,22.67,16.61,NaN,NaN,NaN,NaN,NaN,5.362,3.928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.99,NaN,17.972,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.69,1.496,NaN,513.698,NaN,NaN,NaN,NaN,NaN,98.51,NaN,NaN,NaN,NaN,22.031,NaN,447.15,447.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,371.44,NaN,NaN,83.068,NaN,NaN,NaN,NaN,NaN,216.92,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.01,NaN,NaN,NaN,NaN,NaN,12.526,NaN,NaN,22.43,15.74,NaN,NaN,NaN,NaN,NaN,5.016,3.520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.71,NaN,16.932,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.57,1.561,NaN,520.910,NaN,NaN,NaN,NaN,NaN,111.62,NaN,NaN,NaN,NaN,23.017,NaN,484.94,484.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,407.92,NaN,NaN,84.118,NaN,NaN,NaN,NaN,NaN,237.97,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.33,NaN,NaN,NaN,NaN,NaN,12.028,NaN,NaN,24.14,16.57,NaN,NaN,NaN,NaN,NaN,4.978,3.417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.02,NaN,15.882,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [5]:
df.describe()

,year,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_cons_change_pct,coal_cons_change_twh,coal_cons_per_capita,coal_consumption,coal_elec_per_capita,coal_electricity,coal_prod_change_pct,coal_prod_change_twh,coal_prod_per_capita,coal_production,coal_share_elec,coal_share_energy,electricity_demand,electricity_generation,electricity_share_energy,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,fossil_cons_change_pct,fossil_cons_change_twh,fossil_elec_per_capita,fossil_electricity,fossil_energy_per_capita,fossil_fuel_consumption,fossil_share_elec,fossil_share_energy,gas_cons_change_pct,gas_cons_change_twh,gas_consumption,gas_elec_per_capita,gas_electricity,gas_energy_per_capita,gas_prod_change_pct,gas_prod_change_twh,gas_prod_per_capita,gas_production,gas_share_elec,...,nuclear_share_energy,oil_cons_change_pct,oil_cons_change_twh,oil_consumption,oil_elec_per_capita,oil_electricity,oil_energy_per_capita,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,oil_share_elec,oil_share_energy,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,other_renewables_cons_change_pct,other_renewables_cons_change_twh,other_renewables_elec_per_capita,other_renewables_elec_per_capita_exc_biofuel,other_renewables_energy_per_capita,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,other_renewables_share_energy,per_capita_electricity,primary_energy_consumption,renewables_cons_change_pct,renewables_cons_change_twh,renewables_consumption,renewables_elec_per_capita,renewables_electricity,renewables_energy_per_capita,renewables_share_elec,renewables_share_energy,solar_cons_change_pct,solar_cons_change_twh,solar_consumption,solar_elec_per_capita,solar_electricity,solar_energy_per_capita,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
count,22012.000000,1.812300e+04,1.111300e+04,1747.000000,2687.000000,2302.000000,2767.000000,5275.000000,5527.000000,5492.000000,2671.000000,5165.000000,5258.000000,5315.000000,4666.000000,5420.000000,5850.000000,6444.000000,9657.000000,16239.000000,14718.000000,16494.000000,6409.000000,4787.000000,5656.000000,7191.000000,3899.000000,12117.000000,12310.000000,10602.000000,7211.000000,4974.000000,4857.000000,5956.000000,6550.000000,4215.000000,4962.000000,6409.000000,4787.000000,5086.000000,5111.000000,5215.000000,5850.000000,6444.000000,4468.000000,7.807000e+03,16516.000000,14896.000000,16771.000000,6409.000000,...,3836.000000,5645.000000,5609.000000,5713.000000,5850.000000,6444.000000,4959.000000,9838.00000,17148.000000,1.536900e+04,17405.000000,6409.000000,4787.000000,4978.000000,8164.000000,5493.000000,3549.000000,4873.000000,7227.000000,5241.000000,4293.000000,6920.000000,5352.000000,4308.000000,6445.000000,12588.000000,5158.000000,5374.000000,5479.000000,7098.000000,8023.000000,4725.000000,6878.000000,4787.000000,2124.000000,4577.000000,4683.000000,7031.000000,7956.000000,4010.000000,6849.000000,4035.000000,2413.000000,4639.000000,4744.000000,7065.000000,7996.000000,4065.000000,6886.000000,4101.000000
mean,1974.213247,1.053096e+08,3.585114e+11,46.091694,2.719074,133.558459,38.068209,64.716800,10.966685,1.954035,0.419787,443.170012,24.178502,31.796710,6282.878510,1880.502099,702.848812,325.682578,18.829855,16.598514,3433.321377,969.427817,17.111001,20.586332,591.058071,769.798199,13.681078,3.939268,85.694034,25742.760033,1.829202,2.337808,117.975896,2305.674874,538.246426,30736.067950,6403.128491,64.678857,85.232545,19.099339,39.071488,1478.561465,865.962777,173.490869,10911.764094,1.194212e+14,17.738246,6411.481952,612.403733,18.443269,...,4.468816,3.070272,37.199295,2442.659362,778.641331,47.926815,15777.265063,21.61267,24.072559,2.536687e+04,1227.628911,29.124589,44.272445,48.543148,13.485538,2.101700,33.841425,2.985159,107.558991,64.723915,478.550787,2.458862,0.738916,0.854274,3869.560916,4510.825629,9.299543,23.636429,572.144778,1162.645672,166.945462,4609.757668,30.113598,11.186422,117.545305,4.619120,21.547749,19.216772,7.016748,71.555194,0.622750,0.210395,267.541206,7.314174,53.422938,62.811828,17.561153,232.108949,1.404910,0.651413
std,35.058653,4.640460e+08,2.411179e+12,274.616745,10.057018,264.707851,111.623148,201.043915,47.953561,5.274155,0.816879,214.769755,799.630696,231.176557,8652.643693,5288.076234,1339.864532,1121.122866,624.346562,195.701565,9506.710676,3450.507556,24.101518,18.869576,2394.899886,2534.410757,4.068642,28.129343,486.783613,36122.506628,1.789205,6.321713,525.311599,2955.528276,1723.627042,27933.142196,15256.154069,31.095620,13.397962,322.470298,152.703595,3742.649939,2287.268385,548.121436,22281.517373,1.055173e+16,101.312651,36678.205543,2362.241791,25.703717,...,7.086339,22.913946,235.678756,6132.562921,1682.988929,141.741422,16136.718431,441.16704,205.530208,1.634102e+05,4150.537662,35.711148,16.256588,162.317307,51.931676,8.068536,543.374104,11.577658,749.954268,827.960003,2583.278805,6.050165,3.619860,1.649669,4968.145864,14901.770350,113.817348,94.573824,1595.341524,3801.459042,546.725554,12967.979578,30.733676,11.836751,512.830634,28.852023,141.871970,78.047278,51.474531,245.972507,2.066186,0.643304,5940.944120,37.327922,273.255306,252.734217,101.693172,733.841324,4.489043,1.893820
min,1900.000000,1.833000e+03,1.642060e+08,-100.000000,-50.843000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,-1472.539000,0.000000,0.000000,0.000000,0.000000,-100.000000,-2441.891000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.033000,-100.000000,-12871.895000,0.000000,0.078000,-46.222000,-6659.281000,0.000000,0.000000,188.507000,11.569000,0.000000,25.698000,-95.245000,-1351.460000,0.000000,0.000000,0.000000,0.000000,-1.000000e+02,-1147.562000,0.000000,0.000000,0.000000,...,0.000000,-73.921000,-4903.199000,0.097000,0.000000,0.000000,118.978000,-100.00000,-3531.891000,0.000000e+00,0.000000,0.000000,7.068000,0.000000,0.000000,0.000000,-100.000000,-20.055000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-92.641000,-289.297000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,-4.940000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,-51.208000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1946.000000,1.712404e+06,1.365898e+10,-0.616500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,288.396000,-4.546500,-1.678000,491.921000,10.066500,0.000000,0.000000,-3.909000,0.000000,0.000000,0.000000,0.000000,4.705000,1.320000,2.170000,11.250000,-0.460000,-0.056000,3101.076250,0.861000,-0.663000,-2.385000,206.180250,0.480000,11708.657000,199.281000,42.206000,79.775500,-0.342750,-0.055000,26.614000,0.000000,0.000000,1256.605500,-3.520000e-01,0.000000,0.000000,0.000000,0.000000,...,0.000000,-1.184000,-1.883000,83.869000,30.534500,0.140000,5082.855500,-2.86300,0.000000,0.000000e+00,0.000000,2.367000,33.678500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013000,580.831000,9.265000,-1.265250,-0.140500,7.582000,21.391250,0.177500,248.631000,3.616250,3.407500,10.072000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.029000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1984.000000,6.991543e+06,4.167411e+10,8.179000,0.000000,15.482000,0.673000,0.146000,0.010000,0.062000,0.056000,488.306000,1.219000,0.167000,3097.401000,69.467000,0.000000,0.365000,2.238000,0.000000,28.438500,1.280000,1.285000,16.693000,11.135000,21.097000,13.770000,2.364000,0.869000,13597.986000,1.326000,2.216000,10.182000,1267.519500,10.110000,25652.027000,661.168000,70.227000,89.095000,4.022000,3.490000,123.668000,56.625500,2.100000,5298.243000,4.199000e+00,0.000000,0.000000,0.000000,8.073000,...,0.891000,2.350000,3.897000,220.749000,152.158000,1.865000,11874.090000,1.85350,0.000000,4.884000e+00,1.263000,9.816000,42.212000,1.408000,0.060000,0.000000,5.310000,0.016000,1.027000,0.000000,39.099000,0.184000,0.000000,0.243000,2374.804000,98.920500,4.393000,0.992500,45.166000,200.162000,4.886000,1044.880000,18.462500,7.038000,28.292500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.005000,0.000000,0.000000,0.051000,0.000000,0.003000
75%,2003.000000,2.557688e+07,1.744295e+11,26.508500,0.861500,165.266750,13.629500,34.289000,0.690000,1.577500,0.561000,619.565000,7.063000,8.391000,9125.247500,641.986250,810.017250,36.333250,9.137000,0.818000,2053.121500,111.996250,31.833000,30.775000,87.385000,152.154000,16.003500,6.149000,19.261500,36847.052500,2.235000,5.503250,58.974000,3437.594000,127.542500,40542.943500,2942.156750,93.750000,94.957500,9.976500,22.215500,582.982500,782.663000,45.572750,11156.714250,1.118600e+01,1.218250,725.871750,55.109500,25.820000,...,7.082000,6.469000,23.008000,1137.849000,530.990750,14.105000,21150.841000,10.50825,1.804250,2.451797e+03,189.336000,49.550000,53.073500,17.577000,1.992500,0.000000,14.422000,0.923000,43.158000,0.000000,264.860000,1.948750,0.000000,0.857500,5581.292000,1007.898250,11.601000,10.058750,260.884500,901.274500,40.778000,3489.541000,51.767250,14.740500,64.869000,0.033000,0.205000,0.489500,0.020000,4.418000,0.095000,0.018500,47.971000,0.315000,2.357750,2.101000,0.140000,45.523000,0.372000,0.268000
max,2022.000000,7.975105e+09,1.136302e+14,5659.328000,141.131000,2588.512000,1199.207000,2514.102000,677.570000,71.429000,7.486000,1000.000000,55400.000000,2649.768000,96169.938000,44858.121000,9103.898000,10190.710000,44965.750000,3352.484000,151662.266000,48490.000000,100.000000,89.139000,28527.760000,28527.760000,33.141000,1553.105000,8906.781000,657539.188000,25.253000,98.637000,7138.688000,21704.871000,17385.150000,262585.688000,137236.672000,100.000000,100.000000,15300.000000,2188.346000,40670.660000,21704.871000,6326.000000,287468.625000,9.323217e+17,2093.074000,852961.562000,40534.203000,100.000000,...,42.191000,1553.105000,2740.012000,53512.844000,11547.416000,1364.684000,141187.391000,26472.60200,2795.154000,3.493139e+06,52190.699000,100.000000,99.968000,2413.808000,777.310000,99.740000,21131.334000,152.614000,16291.214000,16291.214000,43229.629000,71.429000,48.400000,21.583000,56030.785000,167787.672000,7518.203000,1524.703000,23848.668000,56030.785000,8532.570000,151652.609000,100.000000,74.302000,9900.001000,676.408000,3448.237000,1279.347000,1289.270000,3868.360000,40.000000,7.586000,242384.844000,665.413000,5487.600000,3219.852000,2139.230000,8422.012000,56.840000,26.157000

In [6]:
len(df.columns)

129

In [7]:
#Filtering required columns only including one with resource consumption and electricity.
col_list = df.columns
consumption_list = ['country','year','iso_code','gdp','population']
for col in col_list:
    name = col.split('_')

    for val in name:
        if val=='consumption' or val=='electricity':
            consumption_list.append(col)

len(consumption_list)

35

In [8]:
energy_data = pd.DataFrame(df[consumption_list])
energy_data.head()

,country,year,iso_code,gdp,population,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,fossil_electricity,fossil_fuel_consumption,gas_consumption,gas_electricity,hydro_consumption,hydro_electricity,low_carbon_consumption,low_carbon_electricity,nuclear_consumption,nuclear_electricity,oil_consumption,oil_electricity,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,5.60,NaN,71.03,368.65,368.65,NaN,295.75,NaN,NaN,163.22,NaN,50.37,NaN,72.90,NaN,0.0,NaN,61.50,NaN,22.53,16.93,NaN,NaN,NaN,72.90,NaN,0.0,NaN,0.0
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,6.02,NaN,80.02,397.19,397.19,NaN,320.51,NaN,NaN,185.35,NaN,54.26,NaN,76.68,NaN,0.0,NaN,55.14,NaN,22.42,16.40,NaN,NaN,NaN,76.68,NaN,0.0,NaN,0.0
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,6.06,NaN,87.16,422.82,422.82,NaN,346.83,NaN,NaN,203.52,NaN,53.32,NaN,75.99,NaN,0.0,NaN,56.15,NaN,22.67,16.61,NaN,NaN,NaN,75.99,NaN,0.0,NaN,0.0
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,6.69,NaN,98.51,447.15,447.15,NaN,371.44,NaN,NaN,216.92,NaN,53.28,NaN,75.71,NaN,0.0,NaN,56.01,NaN,22.43,15.74,NaN,NaN,NaN,75.71,NaN,0.0,NaN,0.0
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,7.57,NaN,111.62,484.94,484.94,NaN,407.92,NaN,NaN,237.97,NaN,52.88,NaN,77.02,NaN,0.0,NaN,58.33,NaN,24.14,16.57,NaN,NaN,NaN,77.02,NaN,0.0,NaN,0.0

In [9]:
energy_data = energy_data[energy_data['iso_code'].isna()==False]
energy_data = energy_data[energy_data['year'].between(2000,2025)]

In [10]:
energy_data = energy_data.reset_index(drop=True)

In [11]:
energy_data[energy_data.select_dtypes(include=['number']).columns] = energy_data.select_dtypes(include=['number']).fillna(0.0)
energy_data.head()

,country,year,iso_code,gdp,population,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,fossil_electricity,fossil_fuel_consumption,gas_consumption,gas_electricity,hydro_consumption,hydro_electricity,low_carbon_consumption,low_carbon_electricity,nuclear_consumption,nuclear_electricity,oil_consumption,oil_electricity,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity
0,Afghanistan,2000,AFG,1.128379e+10,19542986.0,0.0,0.0,0.0,0.0,0.57,0.47,0.0,0.16,0.0,0.0,0.0,0.0,0.31,0.0,0.31,0.0,0.0,0.0,0.16,0.0,0.0,0.0,24.050,5.914,0.0,0.31,0.0,0.0,0.0,0.0
1,Afghanistan,2001,AFG,1.102127e+10,19688634.0,0.0,0.0,0.0,0.0,0.69,0.59,0.0,0.09,0.0,0.0,0.0,0.0,0.50,0.0,0.50,0.0,0.0,0.0,0.09,0.0,0.0,0.0,29.967,4.664,0.0,0.50,0.0,0.0,0.0,0.0
2,Afghanistan,2002,AFG,1.880487e+10,21000258.0,0.0,0.0,0.0,0.0,0.79,0.69,0.0,0.13,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.13,0.0,0.0,0.0,32.857,4.428,0.0,0.56,0.0,0.0,0.0,0.0
3,Afghanistan,2003,AFG,2.107434e+10,22645136.0,0.0,0.0,0.0,0.0,1.04,0.94,0.0,0.31,0.0,0.0,0.0,0.0,0.63,0.0,0.63,0.0,0.0,0.0,0.31,0.0,0.0,0.0,41.510,5.208,0.0,0.63,0.0,0.0,0.0,0.0
4,Afghanistan,2004,AFG,2.233257e+10,23553554.0,0.0,0.0,0.0,0.0,0.99,0.89,0.0,0.33,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.33,0.0,0.0,0.0,37.786,4.810,0.0,0.56,0.0,0.0,0.0,0.0

In [12]:
#Adding GNI(Gross National Income (GNI) is a key economic indicator that measures the total income received by a country's residents
def GNI_cal(iso_code, year):
    """function to calculate the GNI for a country"""
    indicator = {'NY.GNP.PCAP.CD': 'GNI per capita (current US$)'}
    start_date = datetime.datetime(year, 1, 1)
    try:
        gni_data = wbdata.get_dataframe(indicator, country=iso_code, date=(start_date))
        if not gni_data.empty:
            return gni_data['GNI per capita (current US$)'].iloc[0] #access the value using .iloc[0]
        else:
            return None # Return None when data is not available.
    except Exception as e:
        return None 

energy_data['GNI']= energy_data.apply(lambda row: GNI_cal(row['iso_code'],row['year']), axis=1)
energy_data.head()

,country,year,iso_code,gdp,population,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,fossil_electricity,fossil_fuel_consumption,gas_consumption,gas_electricity,hydro_consumption,hydro_electricity,low_carbon_consumption,low_carbon_electricity,nuclear_consumption,nuclear_electricity,oil_consumption,oil_electricity,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity,GNI
0,Afghanistan,2000,AFG,1.128379e+10,19542986.0,0.0,0.0,0.0,0.0,0.57,0.47,0.0,0.16,0.0,0.0,0.0,0.0,0.31,0.0,0.31,0.0,0.0,0.0,0.16,0.0,0.0,0.0,24.050,5.914,0.0,0.31,0.0,0.0,0.0,0.0,NaN
1,Afghanistan,2001,AFG,1.102127e+10,19688634.0,0.0,0.0,0.0,0.0,0.69,0.59,0.0,0.09,0.0,0.0,0.0,0.0,0.50,0.0,0.50,0.0,0.0,0.0,0.09,0.0,0.0,0.0,29.967,4.664,0.0,0.50,0.0,0.0,0.0,0.0,NaN
2,Afghanistan,2002,AFG,1.880487e+10,21000258.0,0.0,0.0,0.0,0.0,0.79,0.69,0.0,0.13,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.13,0.0,0.0,0.0,32.857,4.428,0.0,0.56,0.0,0.0,0.0,0.0,180.0
3,Afghanistan,2003,AFG,2.107434e+10,22645136.0,0.0,0.0,0.0,0.0,1.04,0.94,0.0,0.31,0.0,0.0,0.0,0.0,0.63,0.0,0.63,0.0,0.0,0.0,0.31,0.0,0.0,0.0,41.510,5.208,0.0,0.63,0.0,0.0,0.0,0.0,190.0
4,Afghanistan,2004,AFG,2.233257e+10,23553554.0,0.0,0.0,0.0,0.0,0.99,0.89,0.0,0.33,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.33,0.0,0.0,0.0,37.786,4.810,0.0,0.56,0.0,0.0,0.0,0.0,210.0

In [13]:
#Classifying the Countries to a Socio-Economic Status
def classify_gni(gni):
    """Classify the Countries to a Socio-Economic Status Based on the GNI"""
    if gni <= 1045:
        return 'Low-income'
    elif 1046 <= gni <= 4095:
        return 'Lower-middle-income'
    elif 4096 <= gni <= 12695:
        return 'Upper-middle-income'
    elif gni > 12695:
        return 'High-income'
    else:
        'Not Available'
    
energy_data['Socio-Economic Status'] = energy_data['GNI'].apply(classify_gni)

In [14]:
energy_data.to_csv("../Data/AnalysisData.csv")
energy_data.head(5)

,country,year,iso_code,gdp,population,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,electricity_demand,electricity_generation,electricity_share_energy,fossil_electricity,fossil_fuel_consumption,gas_consumption,gas_electricity,hydro_consumption,hydro_electricity,low_carbon_consumption,low_carbon_electricity,nuclear_consumption,nuclear_electricity,oil_consumption,oil_electricity,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity,GNI,Socio-Economic Status
0,Afghanistan,2000,AFG,1.128379e+10,19542986.0,0.0,0.0,0.0,0.0,0.57,0.47,0.0,0.16,0.0,0.0,0.0,0.0,0.31,0.0,0.31,0.0,0.0,0.0,0.16,0.0,0.0,0.0,24.050,5.914,0.0,0.31,0.0,0.0,0.0,0.0,NaN,None
1,Afghanistan,2001,AFG,1.102127e+10,19688634.0,0.0,0.0,0.0,0.0,0.69,0.59,0.0,0.09,0.0,0.0,0.0,0.0,0.50,0.0,0.50,0.0,0.0,0.0,0.09,0.0,0.0,0.0,29.967,4.664,0.0,0.50,0.0,0.0,0.0,0.0,NaN,None
2,Afghanistan,2002,AFG,1.880487e+10,21000258.0,0.0,0.0,0.0,0.0,0.79,0.69,0.0,0.13,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.13,0.0,0.0,0.0,32.857,4.428,0.0,0.56,0.0,0.0,0.0,0.0,180.0,Low-income
3,Afghanistan,2003,AFG,2.107434e+10,22645136.0,0.0,0.0,0.0,0.0,1.04,0.94,0.0,0.31,0.0,0.0,0.0,0.0,0.63,0.0,0.63,0.0,0.0,0.0,0.31,0.0,0.0,0.0,41.510,5.208,0.0,0.63,0.0,0.0,0.0,0.0,190.0,Low-income
4,Afghanistan,2004,AFG,2.233257e+10,23553554.0,0.0,0.0,0.0,0.0,0.99,0.89,0.0,0.33,0.0,0.0,0.0,0.0,0.56,0.0,0.56,0.0,0.0,0.0,0.33,0.0,0.0,0.0,37.786,4.810,0.0,0.56,0.0,0.0,0.0,0.0,210.0,Low-income

In [3]:
new_data = pd.read_csv('../Data/AnalysisData.csv')

new_data.head()

,Unnamed: 0,country,year,iso_code,gdp,population,biofuel_consumption,biofuel_electricity,coal_consumption,coal_electricity,...,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,solar_consumption,solar_electricity,wind_consumption,wind_electricity,GNI,Socio-Economic Status
0,0,Afghanistan,2000,AFG,1.128379e+10,19542986.0,0.0,0.0,0.0,0.0,...,24.050,5.914,0.0,0.31,0.0,0.0,0.0,0.0,NaN,NaN
1,1,Afghanistan,2001,AFG,1.102127e+10,19688634.0,0.0,0.0,0.0,0.0,...,29.967,4.664,0.0,0.50,0.0,0.0,0.0,0.0,NaN,NaN
2,2,Afghanistan,2002,AFG,1.880487e+10,21000258.0,0.0,0.0,0.0,0.0,...,32.857,4.428,0.0,0.56,0.0,0.0,0.0,0.0,180.0,Low-income
3,3,Afghanistan,2003,AFG,2.107434e+10,22645136.0,0.0,0.0,0.0,0.0,...,41.510,5.208,0.0,0.63,0.0,0.0,0.0,0.0,190.0,Low-income
4,4,Afghanistan,2004,AFG,2.233257e+10,23553554.0,0.0,0.0,0.0,0.0,...,37.786,4.810,0.0,0.56,0.0,0.0,0.0,0.0,210.0,Low-income

In [4]:
new_data = new_data.drop(columns='Unnamed: 0')

In [5]:
countries = new_data['country'].unique()

print(len(countries))

219

In [6]:
with open('api_file.txt', 'r') as file:
    API_KEY = file.read().strip()

In [9]:
#Extracting population for different countries in our dataset using API for analysis of year 2023, 2024
data = []
for country in countries:
    
    api_url = f'https://api.api-ninjas.com/v1/population?country={country}'
    response = requests.get(api_url, headers={'X-Api-Key':API_KEY})
    
    if response.status_code == requests.codes.ok:
        try:
            for value in response.json()['historical_population'][0:5]:
                
                if value['year'] == 2024 or value['year']==2023:
                    
                    data.append({'country':country,
                                'year': value['year'],
                                'population': value['population']})
                
                #Since we only want year 2024 and 2023
                else:
                    break

        except:
            print("Error country: ", country)
    else:
        print("Error:", response.status_code, response.text)

Error country:  Antarctica
Error country:  Cape Verde
Error country:  Cote d'Ivoire
Error country:  Czechia
Error country:  Democratic Republic of Congo
Error country:  East Timor
Error country:  Faroe Islands
Error country:  Micronesia (country)
Error country:  Netherlands Antilles
Error country:  Palestine
Error country:  Saint Kitts and Nevis
Error country:  Saint Pierre and Miquelon
Error country:  Saint Vincent and the Grenadines
Error country:  Sao Tome and Principe
Error country:  Turks and Caicos Islands
Error country:  United States Virgin Islands

In [10]:
data

[{'country': 'Afghanistan', 'year': 2024, 'population': 42647492},
 {'country': 'Afghanistan', 'year': 2023, 'population': 41454761},
 {'country': 'Albania', 'year': 2024, 'population': 2791765},
 {'country': 'Albania', 'year': 2023, 'population': 2811655},
 {'country': 'Algeria', 'year': 2024, 'population': 46814308},
 {'country': 'Algeria', 'year': 2023, 'population': 46164219},
 {'country': 'American Samoa', 'year': 2024, 'population': 46765},
 {'country': 'American Samoa', 'year': 2023, 'population': 47521},
 {'country': 'Angola', 'year': 2024, 'population': 37885849},
 {'country': 'Angola', 'year': 2023, 'population': 36749906},
 {'country': 'Antigua and Barbuda', 'year': 2024, 'population': 93772},
 {'country': 'Antigua and Barbuda', 'year': 2023, 'population': 93316},
 {'country': 'Argentina', 'year': 2024, 'population': 45696159},
 {'country': 'Argentina', 'year': 2023, 'population': 45538401},
 {'country': 'Armenia', 'year': 2024, 'population': 2973840},
 {'country': 'Armenia', 'year': 2023, 'population': 2943393},
 {'country': 'Aruba', 'year': 2024, 'population': 108066},
 {'country': 'Aruba', 'year': 2023, 'population': 107939},
 {'country': 'Australia', 'year': 2024, 'population': 26713205},
 {'country': 'Australia', 'year': 2023, 'population': 26451124},
 {'country': 'Austria', 'year': 2024, 'population': 9120813},
 {'country': 'Austria', 'year': 2023, 'population': 9130429},
 {'country': 'Azerbaijan', 'year': 2024, 'population': 10336577},
 {'country': 'Azerbaijan', 'year': 2023, 'population': 10318207},
 {'country': 'Bahamas', 'year': 2024, 'population': 401283},
 {'country': 'Bahamas', 'year': 2023, 'population': 399440},
 {'country': 'Bahrain', 'year': 2024, 'population': 1607049},
 {'country': 'Bahrain', 'year': 2023, 'population': 1569666},
 {'country': 'Bangladesh', 'year': 2024, 'population': 173562364},
 {'country': 'Bangladesh', 'year': 2023, 'population': 171466990},
 {'country': 'Barbados', 'year': 2024, 'population': 282467},
 {'country': 'Barbados', 'year': 2023, 'population': 282336},
 {'country': 'Belarus', 'year': 2024, 'population': 9056696},
 {'country': 'Belarus', 'year': 2023, 'population': 9115680},
 {'country': 'Belgium', 'year': 2024, 'population': 11738763},
 {'country': 'Belgium', 'year': 2023, 'population': 11712893},
 {'country': 'Belize', 'year': 2024, 'population': 417072},
 {'country': 'Belize', 'year': 2023, 'population': 411106},
 {'country': 'Benin', 'year': 2024, 'population': 14462724},
 {'country': 'Benin', 'year': 2023, 'population': 14111034},
 {'country': 'Bermuda', 'year': 2024, 'population': 64636},
 {'country': 'Bermuda', 'year': 2023, 'population': 64698},
 {'country': 'Bhutan', 'year': 2024, 'population': 791524},
 {'country': 'Bhutan', 'year': 2023, 'population': 786385},
 {'country': 'Bolivia', 'year': 2024, 'population': 12413315},
 {'country': 'Bolivia', 'year': 2023, 'population': 12244159},
 {'country': 'Bosnia and Herzegovina', 'year': 2024, 'population': 3164253},
 {'country': 'Bosnia and Herzegovina', 'year': 2023, 'population': 3185073},
 {'country': 'Botswana', 'year': 2024, 'population': 2521139},
 {'country': 'Botswana', 'year': 2023, 'population': 2480244},
 {'country': 'Brazil', 'year': 2024, 'population': 211998573},
 {'country': 'Brazil', 'year': 2023, 'population': 211140729},
 {'country': 'British Virgin Islands', 'year': 2024, 'population': 39471},
 {'country': 'British Virgin Islands', 'year': 2023, 'population': 38985},
 {'country': 'Brunei', 'year': 2024, 'population': 462721},
 {'country': 'Brunei', 'year': 2023, 'population': 458949},
 {'country': 'Bulgaria', 'year': 2024, 'population': 6757689},
 {'country': 'Bulgaria', 'year': 2023, 'population': 6795803},
 {'country': 'Burkina Faso', 'year': 2024, 'population': 23548781},
 {'country': 'Burkina Faso', 'year': 2023, 'population': 23025776},
 {'country': 'Burundi', 'year': 2024, 'population': 14047786},
 {'country': 'Burundi', 'year': 2023, 'population': 13689450},
 {'country': 'Cambodia', 'year': 2024, 'population': 17638801},
 {'country': 'Cambodia', 'year': 2023, 'population': 17423880},
 {'country': 'Cameroon', 'year': 2024, 'population': 29123744},
 {'country': 'Cameroon', 'year': 2023, 'population': 28372687},
 {'country': 'Canada', 'year': 2024, 'population': 39742430},
 {'country': 'Canada', 'year': 2023, 'population': 39299105},
 {'country': 'Cayman Islands', 'year': 2024, 'population': 74457},
 {'country': 'Cayman Islands', 'year': 2023, 'population': 73038},
 {'country': 'Central African Republic', 'year': 2024, 'population': 5330690},
 {'country': 'Central African Republic', 'year': 2023, 'population': 5152421},
 {'country': 'Chad', 'year': 2024, 'population': 20299123},
 {'country': 'Chad', 'year': 2023, 'population': 19319064},
 {'country': 'Chile', 'year': 2024, 'population': 19764771},
 {'country': 'Chile', 'year': 2023, 'population': 19658835},
 {'country': 'China', 'year': 2024, 'population': 1419321278},
 {'country': 'China', 'year': 2023, 'population': 1422584933},
 {'country': 'Colombia', 'year': 2024, 'population': 52886363},
 {'country': 'Colombia', 'year': 2023, 'population': 52321152},
 {'country': 'Comoros', 'year': 2024, 'population': 866628},
 {'country': 'Comoros', 'year': 2023, 'population': 850387},
 {'country': 'Congo', 'year': 2024, 'population': 6332961},
 {'country': 'Congo', 'year': 2023, 'population': 6182885},
 {'country': 'Cook Islands', 'year': 2024, 'population': 13729},
 {'country': 'Cook Islands', 'year': 2023, 'population': 14222},
 {'country': 'Costa Rica', 'year': 2024, 'population': 5129910},
 {'country': 'Costa Rica', 'year': 2023, 'population': 5105525},
 {'country': 'Croatia', 'year': 2024, 'population': 3875325},
 {'country': 'Croatia', 'year': 2023, 'population': 3896023},
 {'country': 'Cuba', 'year': 2024, 'population': 10979783},
 {'country': 'Cuba', 'year': 2023, 'population': 11019931},
 {'country': 'Cyprus', 'year': 2024, 'population': 1358282},
 {'country': 'Cyprus', 'year': 2023, 'population': 1344976},
 {'country': 'Denmark', 'year': 2024, 'population': 5977412},
 {'country': 'Denmark', 'year': 2023, 'population': 5948136},
 {'country': 'Djibouti', 'year': 2024, 'population': 1168722},
 {'country': 'Djibouti', 'year': 2023, 'population': 1152944},
 {'country': 'Dominica', 'year': 2024, 'population': 66205},
 {'country': 'Dominica', 'year': 2023, 'population': 66510},
 {'country': 'Dominican Republic', 'year': 2024, 'population': 11427557},
 {'country': 'Dominican Republic', 'year': 2023, 'population': 11331265},
 {'country': 'Ecuador', 'year': 2024, 'population': 18135478},
 {'country': 'Ecuador', 'year': 2023, 'population': 17980083},
 {'country': 'Egypt', 'year': 2024, 'population': 116538258},
 {'country': 'Egypt', 'year': 2023, 'population': 114535772},
 {'country': 'El Salvador', 'year': 2024, 'population': 6338193},
 {'country': 'El Salvador', 'year': 2023, 'population': 6309624},
 {'country': 'Equatorial Guinea', 'year': 2024, 'population': 1892516},
 {'country': 'Equatorial Guinea', 'year': 2023, 'population': 1847549},
 {'country': 'Eritrea', 'year': 2024, 'population': 3535603},
 {'country': 'Eritrea', 'year': 2023, 'population': 3470390},
 {'country': 'Estonia', 'year': 2024, 'population': 1360546},
 {'country': 'Estonia', 'year': 2023, 'population': 1367196},
 {'country': 'Eswatini', 'year': 2024, 'population': 1242822},
 {'country': 'Eswatini', 'year': 2023, 'population': 1230506},
 {'country': 'Ethiopia', 'year': 2024, 'population': 132059767},
 {'country': 'Ethiopia', 'year': 2023, 'population': 128691692},
 {'country': 'Falkland Islands', 'year': 2024, 'population': 3470},
 {'country': 'Falkland Islands', 'year': 2023, 'population': 3477},
 {'country': 'Fiji', 'year': 2024, 'population': 928784},
 {'country': 'Fiji', 'year': 2023, 'population': 924145},
 {'country': 'Finland', 'year': 2024, 'population': 5617310},
 {'country': 'Finland', 'year': 2023, 'population': 5601185},
 {'country': 'France', 'year': 2024, 'population': 66548530},
 {'country': 'France', 'year': 2023, 'population': 66438822},
 {'country': 'French Guiana', 'year': 2024, 'population': 308522},
 {'country': 'French Guiana', 'year': 2023, 'population': 303402},
 {'country': 'French Polynesia', 'year': 2024, 'population': 281807},
 {'country': 'French Polynesia', 'year': 2023, 'population': 281118},
 {'country': 'Gabon', 'year': 2024, 'population': 2538952},
 {'country': 'Gabon', 'year': 2023, 'population': 2484789},
 {'country': 'Gambia', 'year': 2024, 'population': 2759988},
 {'country': 'Gambia', 'year': 2023, 'population': 2697845},
 {'country': 'Georgia', 'year': 2024, 'population': 3807670},
 {'country': 'Georgia', 'year': 2023, 'population': 3807492},
 {'country': 'Germany', 'year': 2024, 'population': 84552242},
 {'country': 'Germany', 'year': 2023, 'population': 84548231},
 {'country': 'Ghana', 'year': 2024, 'population': 34427414},
 {'country': 'Ghana', 'year': 2023, 'population': 33787914},
 {'country': 'Gibraltar', 'year': 2024, 'population': 39329},
 {'country': 'Gibraltar', 'year': 2023, 'population': 38471},
 {'country': 'Greece', 'year': 2024, 'population': 10047817},
 {'country': 'Greece', 'year': 2023, 'population': 10242908},
 {'country': 'Greenland', 'year': 2024, 'population': 55840},
 {'country': 'Greenland', 'year': 2023, 'population': 55922},
 {'country': 'Grenada', 'year': 2024, 'population': 117207},
 {'country': 'Grenada', 'year': 2023, 'population': 117081},
 {'country': 'Guadeloupe', 'year': 2024, 'population': 375106},
 {'country': 'Guadeloupe', 'year': 2023, 'population': 376517},
 {'country': 'Guam', 'year': 2024, 'population': 167777},
 {'country': 'Guam', 'year': 2023, 'population': 166506},
 {'country': 'Guatemala', 'year': 2024, 'population': 18406359},
 {'country': 'Guatemala', 'year': 2023, 'population': 18124838},
 {'country': 'Guinea', 'year': 2024, 'population': 14754785},
 {'country': 'Guinea', 'year': 2023, 'population': 14405468},
 {'country': 'Guinea-Bissau', 'year': 2024, 'population': 2201352},
 {'country': 'Guinea-Bissau', 'year': 2023, 'population': 2153339},
 {'country': 'Guyana', 'year': 2024, 'population': 831087},
 {'country': 'Guyana', 'year': 2023, 'population': 826353},
 {'country': 'Haiti', 'year': 2024, 'population': 11772557},
 {'country': 'Haiti', 'year': 2023, 'population': 11637398},
 {'country': 'Honduras', 'year': 2024, 'population': 10825703},
 {'country': 'Honduras', 'year': 2023, 'population': 10644851},
 {'country': 'Hong Kong', 'year': 2024, 'population': 7414909},
 {'country': 'Hong Kong', 'year': 2023, 'population': 7442734},
 {'country': 'Hungary', 'year': 2024, 'population': 9676135},
 {'country': 'Hungary', 'year': 2023, 'population': 9686463},
 {'country': 'Iceland', 'year': 2024, 'population': 393396},
 {'country': 'Iceland', 'year': 2023, 'population': 387558},
 {'country': 'India', 'year': 2024, 'population': 1450935791},
 {'country': 'India', 'year': 2023, 'population': 1438069596},
 {'country': 'Indonesia', 'year': 2024, 'population': 283487931},
 {'country': 'Indonesia', 'year': 2023, 'population': 281190067},
 {'country': 'Iran', 'year': 2024, 'population': 91567738},
 {'country': 'Iran', 'year': 2023, 'population': 90608707},
 {'country': 'Iraq', 'year': 2024, 'population': 46042015},
 {'country': 'Iraq', 'year': 2023, 'population': 45074049},
 {'country': 'Ireland', 'year': 2024, 'population': 5255017},
 {'country': 'Ireland', 'year': 2023, 'population': 5196630},
 {'country': 'Israel', 'year': 2024, 'population': 9387021},
 {'country': 'Israel', 'year': 2023, 'population': 9256314},
 {'country': 'Italy', 'year': 2024, 'population': 59342867},
 {'country': 'Italy', 'year': 2023, 'population': 59499453},
 {'country': 'Jamaica', 'year': 2024, 'population': 2839175},
 {'country': 'Jamaica', 'year': 2023, 'population': 2839786},
 {'country': 'Japan', 'year': 2024, 'population': 123753041},
 {'country': 'Japan', 'year': 2023, 'population': 124370947},
 {'country': 'Jordan', 'year': 2024, 'population': 11552876},
 {'country': 'Jordan', 'year': 2023, 'population': 11439213},
 {'country': 'Kazakhstan', 'year': 2024, 'population': 20592571},
 {'country': 'Kazakhstan', 'year': 2023, 'population': 20330104},
 {'country': 'Kenya', 'year': 2024, 'population': 56432944},
 {'country': 'Kenya', 'year': 2023, 'population': 55339003},
 {'country': 'Kiribati', 'year': 2024, 'population': 134518},
 {'country': 'Kiribati', 'year': 2023, 'population': 132530},
 {'country': 'Kuwait', 'year': 2024, 'population': 4934507},
 {'country': 'Kuwait', 'year': 2023, 'population': 4838782},
 {'country': 'Kyrgyzstan', 'year': 2024, 'population': 7186009},
 {'country': 'Kyrgyzstan', 'year': 2023, 'population': 7073516},
 {'country': 'Laos', 'year': 2024, 'population': 7769819},
 {'country': 'Laos', 'year': 2023, 'population': 7664993},
 {'country': 'Latvia', 'year': 2024, 'population': 1871871},
 {'country': 'Latvia', 'year': 2023, 'population': 1882396},
 {'country': 'Lebanon', 'year': 2024, 'population': 5805962},
 {'country': 'Lebanon', 'year': 2023, 'population': 5773493},
 {'country': 'Lesotho', 'year': 2024, 'population': 2337423},
 {'country': 'Lesotho', 'year': 2023, 'population': 2311472},
 {'country': 'Liberia', 'year': 2024, 'population': 5612817},
 {'country': 'Liberia', 'year': 2023, 'population': 5493031},
 {'country': 'Libya', 'year': 2024, 'population': 7381023},
 {'country': 'Libya', 'year': 2023, 'population': 7305659},
 {'country': 'Lithuania', 'year': 2024, 'population': 2859110},
 {'country': 'Lithuania', 'year': 2023, 'population': 2854099},
 {'country': 'Luxembourg', 'year': 2024, 'population': 673036},
 {'country': 'Luxembourg', 'year': 2023, 'population': 665098},
 {'country': 'Macao', 'year': 2024, 'population': 720262},
 {'country': 'Macao', 'year': 2023, 'population': 713912},
 {'country': 'Madagascar', 'year': 2024, 'population': 31964956},
 {'country': 'Madagascar', 'year': 2023, 'population': 31195932},
 {'country': 'Malawi', 'year': 2024, 'population': 21655286},
 {'country': 'Malawi', 'year': 2023, 'population': 21104482},
 {'country': 'Malaysia', 'year': 2024, 'population': 35557673},
 {'country': 'Malaysia', 'year': 2023, 'population': 35126298},
 {'country': 'Maldives', 'year': 2024, 'population': 527799},
 {'country': 'Maldives', 'year': 2023, 'population': 525994},
 {'country': 'Mali', 'year': 2024, 'population': 24478595},
 {'country': 'Mali', 'year': 2023, 'population': 23769127},
 {'country': 'Malta', 'year': 2024, 'population': 539607},
 {'country': 'Malta', 'year': 2023, 'population': 532956},
 {'country': 'Martinique', 'year': 2024, 'population': 343195},
 {'country': 'Martinique', 'year': 2023, 'population': 346002},
 {'country': 'Mauritania', 'year': 2024, 'population': 5169395},
 {'country': 'Mauritania', 'year': 2023, 'population': 5022441},
 {'country': 'Mauritius', 'year': 2024, 'population': 1271169},
 {'country': 'Mauritius', 'year': 2023, 'population': 1273588},
 {'country': 'Mexico', 'year': 2024, 'population': 130861007},
 {'country': 'Mexico', 'year': 2023, 'population': 129739759},
 {'country': 'Moldova', 'year': 2024, 'population': 3034961},
 {'country': 'Moldova', 'year': 2023, 'population': 3067070},
 {'country': 'Mongolia', 'year': 2024, 'population': 3475540},
 {'country': 'Mongolia', 'year': 2023, 'population': 3431932},
 {'country': 'Montenegro', 'year': 2024, 'population': 638479},
 {'country': 'Montenegro', 'year': 2023, 'population': 633552},
 {'country': 'Montserrat', 'year': 2024, 'population': 4389},
 {'country': 'Montserrat', 'year': 2023, 'population': 4420},
 {'country': 'Morocco', 'year': 2024, 'population': 38081173},
 {'country': 'Morocco', 'year': 2023, 'population': 37712505},
 {'country': 'Mozambique', 'year': 2024, 'population': 34631766},
 {'country': 'Mozambique', 'year': 2023, 'population': 33635160},
 {'country': 'Myanmar', 'year': 2024, 'population': 54500091},
 {'country': 'Myanmar', 'year': 2023, 'population': 54133798},
 {'country': 'Namibia', 'year': 2024, 'population': 3030131},
 {'country': 'Namibia', 'year': 2023, 'population': 2963095},
 {'country': 'Nauru', 'year': 2024, 'population': 11947},
 {'country': 'Nauru', 'year': 2023, 'population': 11875},
 {'country': 'Nepal', 'year': 2024, 'population': 29651054},
 {'country': 'Nepal', 'year': 2023, 'population': 29694614},
 {'country': 'Netherlands', 'year': 2024, 'population': 18228742},
 {'country': 'Netherlands', 'year': 2023, 'population': 18092524},
 {'country': 'New Caledonia', 'year': 2024, 'population': 292639},
 {'country': 'New Caledonia', 'year': 2023, 'population': 289870},
 {'country': 'New Zealand', 'year': 2024, 'population': 5213944},
 {'country': 'New Zealand', 'year': 2023, 'population': 5172836},
 {'country': 'Nicaragua', 'year': 2024, 'population': 6916140},
 {'country': 'Nicaragua', 'year': 2023, 'population': 6823613},
 {'country': 'Niger', 'year': 2024, 'population': 27032412},
 {'country': 'Niger', 'year': 2023, 'population': 26159867},
 {'country': 'Nigeria', 'year': 2024, 'population': 232679478},
 {'country': 'Nigeria', 'year': 2023, 'population': 227882945},
 {'country': 'Niue', 'year': 2024, 'population': 1819},
 {'country': 'Niue', 'year': 2023, 'population': 1817},
 {'country': 'North Korea', 'year': 2024, 'population': 26498823},
 {'country': 'North Korea', 'year': 2023, 'population': 26418204},
 {'country': 'North Macedonia', 'year': 2024, 'population': 1823009},
 {'country': 'North Macedonia', 'year': 2023, 'population': 1831802},
 {'country': 'Northern Mariana Islands', 'year': 2024, 'population': 44278},
 {'country': 'Northern Mariana Islands', 'year': 2023, 'population': 45143},
 {'country': 'Norway', 'year': 2024, 'population': 5576660},
 {'country': 'Norway', 'year': 2023, 'population': 5519167},
 {'country': 'Oman', 'year': 2024, 'population': 5281538},
 {'country': 'Oman', 'year': 2023, 'population': 5049269},
 {'country': 'Pakistan', 'year': 2024, 'population': 251269164},
 {'country': 'Pakistan', 'year': 2023, 'population': 247504495},
 {'country': 'Panama', 'year': 2024, 'population': 4515577},
 {'country': 'Panama', 'year': 2023, 'population': 4458759},
 {'country': 'Papua New Guinea', 'year': 2024, 'population': 10576502},
 {'country': 'Papua New Guinea', 'year': 2023, 'population': 10389635},
 {'country': 'Paraguay', 'year': 2024, 'population': 6929153},
 {'country': 'Paraguay', 'year': 2023, 'population': 6844146},
 {'country': 'Peru', 'year': 2024, 'population': 34217848},
 {'country': 'Peru', 'year': 2023, 'population': 33845617},
 {'country': 'Philippines', 'year': 2024, 'population': 115843670},
 {'country': 'Philippines', 'year': 2023, 'population': 114891199},
 {'country': 'Poland', 'year': 2024, 'population': 38539201},
 {'country': 'Poland', 'year': 2023, 'population': 38762844},
 {'country': 'Portugal', 'year': 2024, 'population': 10425292},
 {'country': 'Portugal', 'year': 2023, 'population': 10430738},
 {'country': 'Puerto Rico', 'year': 2024, 'population': 3242204},
 {'country': 'Puerto Rico', 'year': 2023, 'population': 3242023},
 {'country': 'Qatar', 'year': 2024, 'population': 3048423},
 {'country': 'Qatar', 'year': 2023, 'population': 2979082},
 {'country': 'Reunion', 'year': 2024, 'population': 878591},
 {'country': 'Reunion', 'year': 2023, 'population': 874883},
 {'country': 'Romania', 'year': 2024, 'population': 19015088},
 {'country': 'Romania', 'year': 2023, 'population': 19118479},
 {'country': 'Russia', 'year': 2024, 'population': 144820423},
 {'country': 'Russia', 'year': 2023, 'population': 145440500},
 {'country': 'Rwanda', 'year': 2024, 'population': 14256567},
 {'country': 'Rwanda', 'year': 2023, 'population': 13954471},
 {'country': 'Saint Helena', 'year': 2024, 'population': 5237},
 {'country': 'Saint Helena', 'year': 2023, 'population': 5289},
 {'country': 'Saint Lucia', 'year': 2024, 'population': 179744},
 {'country': 'Saint Lucia', 'year': 2023, 'population': 179285},
 {'country': 'Samoa', 'year': 2024, 'population': 218019},

In [11]:
new_population_data = pd.DataFrame(data)

In [12]:
#Extracting gdp for different countries in our dataset using API for analysis of year 2023, 2024
gdp_data = []
for country in countries:
    api_url = f'https://api.api-ninjas.com/v1/gdp?country={country}'
    response = requests.get(api_url, headers={'X-Api-Key':API_KEY})
    if response.status_code == requests.codes.ok:
        try:
            for value in response.json():
                if value['year'] == 2024 or value['year'] == 2023:
                    gdp_data.append({'country':country,
                                    'year':value['year'],
                                    'gdp per capita nominal': value['gdp_per_capita_nominal'],
                                    'gdp per capita ppp': value['gdp_per_capita_ppp']})
                else:
                    continue
        except:
            print("Error Country:", country)
    else:
        print("Error:", response.status_code, response.text)

In [13]:
new_gdp_data = pd.DataFrame(gdp_data)
new_gdp_data

         country  year  gdp per capita nominal  gdp per capita ppp
0    Afghanistan  2023                 410.933            2173.745
1        Albania  2023                8299.278           20018.303
2        Albania  2024                9598.191           21376.586
3        Algeria  2023                5221.813           16900.136
4        Algeria  2024                5579.128           17718.286
..           ...   ...                     ...                 ...
357        Yemen  2024                 464.893            1996.036
358       Zambia  2023                1369.129            4110.186
359       Zambia  2024                1226.095            4190.267
360     Zimbabwe  2023                2119.318            4965.194
361     Zimbabwe  2024                2113.811            5070.606

[362 rows x 4 columns]

In [14]:
test_data = pd.merge(new_population_data,new_gdp_data)
test_data

         country  year  population  gdp per capita nominal  gdp per capita ppp
0    Afghanistan  2023    41454761                 410.933            2173.745
1        Albania  2024     2791765                9598.191           21376.586
2        Albania  2023     2811655                8299.278           20018.303
3        Algeria  2024    46814308                5579.128           17718.286
4        Algeria  2023    46164219                5221.813           16900.136
..           ...   ...         ...                     ...                 ...
347        Yemen  2023    39390799                 551.953            2012.953
348       Zambia  2024    21314956                1226.095            4190.267
349       Zambia  2023    20723965                1369.129            4110.186
350     Zimbabwe  2024    16634373                2113.811            5070.606
351     Zimbabwe  2023    16340822                2119.318            4965.194

[352 rows x 5 columns]

In [15]:
test_data = test_data.merge(new_data[['country', 'iso_code']].drop_duplicates(), on='country', how='left')
test_data

,country,year,population,gdp per capita nominal,gdp per capita ppp,iso_code
0,Afghanistan,2023,41454761,410.933,2173.745,AFG
1,Albania,2024,2791765,9598.191,21376.586,ALB
2,Albania,2023,2811655,8299.278,20018.303,ALB
3,Algeria,2024,46814308,5579.128,17718.286,DZA
4,Algeria,2023,46164219,5221.813,16900.136,DZA
...,...,...,...,...,...,...
347,Yemen,2023,39390799,551.953,2012.953,YEM
348,Zambia,2024,21314956,1226.095,4190.267,ZMB
349,Zambia,2023,20723965,1369.129,4110.186,ZMB
350,Zimbabwe,2024,16634373,2113.811,5070.606,ZWE
351,Zimbabwe,2023,16340822,2119.318,4965.194,ZWE

In [16]:
def GNI_cal(iso_code, year):
    """function to calculate the GNI for a country"""
    indicator = {'NY.GNP.PCAP.CD': 'GNI per capita (current US$)'}
    start_date = datetime.datetime(year, 1, 1)
    try:
        gni_data = wbdata.get_dataframe(indicator, country=iso_code, date=(start_date))
        if not gni_data.empty:
            return gni_data['GNI per capita (current US$)'].iloc[0] #access the value using .iloc[0]
        else:
            return None # Return None when data is not available.
    except Exception as e:
        return None 

test_data['GNI']= test_data.apply(lambda row: GNI_cal(row['iso_code'],row['year']), axis=1)

In [17]:
test_data

,country,year,population,gdp per capita nominal,gdp per capita ppp,iso_code,GNI
0,Afghanistan,2023,41454761,410.933,2173.745,AFG,380.0
1,Albania,2024,2791765,9598.191,21376.586,ALB,NaN
2,Albania,2023,2811655,8299.278,20018.303,ALB,7680.0
3,Algeria,2024,46814308,5579.128,17718.286,DZA,NaN
4,Algeria,2023,46164219,5221.813,16900.136,DZA,4950.0
...,...,...,...,...,...,...,...
347,Yemen,2023,39390799,551.953,2012.953,YEM,NaN
348,Zambia,2024,21314956,1226.095,4190.267,ZMB,NaN
349,Zambia,2023,20723965,1369.129,4110.186,ZMB,1290.0
350,Zimbabwe,2024,16634373,2113.811,5070.606,ZWE,NaN
351,Zimbabwe,2023,16340822,2119.318,4965.194,ZWE,2060.0

In [18]:
test_data.to_csv("../Data/TestData.csv")